html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
html::-webkit-scrollbar {
      width: 10px; 
   }
html::-webkit-scrollbar-track {
    background-color: #03071E;
  }

html::-webkit-scrollbar-thumb {
    background: #FFBA08;
    border-radius: 5px;
  }
body{
    background-image: url(../medias/nuit%20%C3%A9toil%C3%A9e.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #03071E;
}
@media only screen and (max-width: 767px) {
    body {
    background-image: url(../medias/nuit%20%C3%A9toil%C3%A9e.JPG);
  }
}
h1,p,a,h3{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
p{
    font-size:1vw
}
h1{
    font-size: 5em;
    font-family: 'Kalam', cursive;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(3,7,30,0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FFBA08;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #370617;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.bouton-menu{
    position: absolute;
    top: 1.5%;
    left: 2%;
    overflow: visible;
    z-index: 100;
    padding: 10px;
/*    padding-left: 10px;*/
    color: white;
}
.Titre{
    margin-top: 35vh;
    width: 50vw;
    margin-left: 25vw;
}
.cerclejaune{
    fill: #FFBA08;
    stroke: #FFBA08;
    stroke-width: 0.5;
    width: 5em;
    margin-top: 30vh;
    margin-left: 48vw;
  
}
@keyframes masuperanimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}
.cerclejaune:hover{
        animation: masuperanimation 1s;
        animation-iteration-count: infinite;
}
#content{
    margin-top: 30vh;
    padding-bottom: 40vh;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: white;
}
h3{
    font-size: 1.5vw;
}
img{
    margin-bottom: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
}
div#slider{
    width: 640px;
    height: 360px;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;    
    margin-bottom: 2vw;
    
}
div#slider figure{
    position: relative;
    width: 600%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
div#slider figure img{
    width: 16.7%;
    height: auto;
    float: left;
    margin: 0;
}
@keyframes slidy {
    0%{ left: 0%; }
    16%{ left: 0%; }
    21%{ left: -100%;}
    37%{ left: -100%;}
    42%{ left: -200%;}
    58%{ left: -200%;}
    63%{ left: -300%;}
    79%{ left: -300%;}
    84%{ left: -400%;}
    100%{ left: -400%;}
    
}
.audi {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 2s linear infinite alternate;

}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }

